/* My Awesome Styles */

@font-face{
  font-family:"ToscaZero";
  src: url(../fonts/ToscaZero-gyA4.otf);
}

.plyr--video{
  border-radius: 1.5em;
}
.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded="true"]{
  background:black;
  color: #d48118;
}
.plyr__control--overlaid{
  background-color: black;
  color: #d48118;
}
html{
  background: url(../assets/3134.jpg);
  background-size: 100%;
  margin-bottom: 0;
}

header h1{
  display:flex;
  justify-content:center;
  font-family:"Agency FB";
}
main { 
  display: flex;
  flex-direction: column;
  align-items: center;

}

.trailer{
  width: 40%;
  opacity: 1;
}



.second{
  margin-bottom: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.movie{
  width: 12em;
  height:16em;
  margin: 0 auto;
  cursor: pointer;
}

#movies{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
}

 img#max4{
  opacity: .5;
}


blockquote{
  font-family: "ToscaZero",Helvetica;
  font-size: 3em;
  color: #e8d2cd;
  margin-bottom: 2em;
}
.info{
  margin-left:5em;
  margin-right: 5em;
  max-width: 50%;
  font-family: "Agency FB",sans-serif;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.507);
}
.info{
  padding-left: 1em;
  padding-right: 1em;

}
.title{
  text-align: center;
  font-family: "ToscaZero",Helvetica;
  font-size: 2.5em;
  margin-top: 1em;
  color: rgb(0, 0, 0);
}
.cast { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
 
}
.cast img{
  width: 45%;
  height: 45%;
  border-radius: 45%;
  padding: 0;
}

figure{
  display: flex;
  margin: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Agency FB",sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
}
figure h3,h4{
  margin:.5em .5em;
  background-color: rgba(255, 255, 255, 0.507);
}

figure.cast1{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
}

figure.cast2{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-column: 2;
}

figure.cast3{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-column: 3;
}
aside ul{
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.507);
  padding:.5em;
  font-family: "Agency FB",sans-serif;
}
footer{
  background-color: rgba(255, 255, 255, 0.507);
  margin: 0;
  margin-bottom: 1em;
  padding: .1em;
  font-family: "Agency FB",sans-serif;
}

/* custom UI controls */
.plyr--full-ui input[type="range"]{
  color:red;
}




/* Media Queries */
/* 
  Mobile: 
  * 384px = 24em
*/
@media only screen and (min-width: 24em) {
  .trailer {
    margin-top: 1em;
    margin-right: 2em;
  } 
  blockquote {
    font-size: 1em;

  }
  h2 .title {
    font-size: 1.1em;
  }
  .plyr__poster {
    background-color: #000;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .2s ease;
    width: 100%;
    z-index: 1;
  }
  .info {
    font-size: .7em;
  }

  .cast{
    flex-direction: column;
  }

  #movies{
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
  }
  .movie{
    margin: 2em auto
  }
 
    
}

/* Tablet:  
  * 768px = 48em 
*/
@media only screen and (max-width: 50em)  {
  .trailer {
    margin-top: 1em;
    margin-right: 2em;
  } 
  blockquote {
    font-size: 1em;

  }
  .title h2 {
    font-family: "ToscaZero",Helvetica;
    font-size: 1em;
    margin-top: 1em;
    color: rgb(0, 0, 0);
  }
 
  .info {
    font-size: .7em;
  }
    

}

/* Desktop: 
  * 1152px = 72em
*/
@media screen and (min-width: 72em)  { 
  


}

/* Wide Desktop: 
  * 1440px = 90em
*/
@media screen and (min-width: 90em) { 
  


}




@media only screen 
  and (min-width: 0) 
  and (max-width: 48em)  { 
  
    /*  Cast of movie */
    .cast {
      display: flex;
      text-align: center;
      justify-content: center;
    }
  
}

/* Tablet:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em)  {

    
}

/* Desktop: 
  * 1024px = 64em
  * 64em and larger
*/
@media screen 
  and (min-width: 64em) 
  and (max-width: 90em) { 

}

/* Wide Desktop: 
  * 1440px = 90em
  * 90em and wider
*/
@media screen and (min-width: 90em) { 


}


